@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gaegu:wght@700&display=swap');

#ff1 {
  font-family: "궁서체";  
}

#ff2 {
    font-family: "굴림체";
}
/* 
글꼴이 없는 경우를 대비해서
,를 이용하여 여러글꼴을 나열 할수 있음 */
/* #ff3 {
    font-family: "없는글꼴", "궁서>ㅇ<","고딕";
} */

/* 웹폰트 */
/* 구글폰트 */
h1{
    color: yellow;
    /* 글꼴 */
    font-family: 'Gaegu', cursive;
}

.web-font{
    font-family: 'Gaegu', cursive;
}

/* * {
    font-family: 'Gaegu', cursive;
} */

#size1{
    font-size: 16pt;
}
#size2{
    font-size: 2em;
}
#size3{
    font-size: 150%;
}

#fw1{
    font-size: 2em;
    font-weight: 100;
}
#fw2{
    font-size: 2em;
    font-weight: lighter;
}
#fw3{
    font-size: 2em;
    font-weight: 900;
}

#fv {

    /*  
        small-caps : 소문자를 대문자로(소문자크기의) 바꿉니다
        normar : 바꾸지 않음
    */
    font-variant: small-caps;
}

#fs1{
    font-style: italic;
}

#fs2{
    font-style: oblique;
}

/* 글자색 변경하기 
    - 색상이름 표기법
    - 16진수 표기법
    - rgb/rgba 표기법
    - hsl/hsla 표기법
*/
#c-name {
    /*
        이름으로 지정
        웹 안전 색상
        모든 웹브라우져에서 표현할 수 있는 색상
        16가지 기본색상을 포함 216가지
    */
    color:red;
}
#c-16{
    /* 
        #과 16진수 6자리를 합쳐서 색상을 표현
        앞에서 부터 2자리씩 묶어 빨강, 초록, 파랑 색상의 양을 표시
        (중복된 숫자인경우 3자리로 표현 가능 #000000 -> #000)
    */
    color: #fff;
    background-color: #000;
    padding:20px;
    font-size: 2em;
}
#c-rgb{
    /*
        빨강 초록 파랑의 양을 0~255까지의 수로 표현
    */
    color:rgb(255, 0, 0);
}
#c-rgba{
    /*
        a : 투명도 
        0~1까지
        0:투명, 1:불투명
    */

    /*
        hsl방식
        색상(hue), 채도(saturation), 밝기(light)
    */
    color: rgb(255,0,0,0.5);
    background-color: hsla(56, 97%, 70%, 0.699);
}

#td-none{
    text-decoration: none;
}
#td-underline{
    text-decoration: underline;
}
#td-overline{
    text-decoration: overline;
}
#td-line-throught{
    text-decoration: line-through;
}

li{
    padding:20px;
    /*선의 두께, 선 스타일, 색상*/
    border: 1px dotted #000;
    
    
}

a{
    text-decoration: none;
    color: #666;
    font-size: 1.5em;
}

#ts1{
    font-size: 1.5em;
    font-weight: 900;
    color: blueviolet;
    text-shadow: 3px 3px 3px rgb(231, 229, 229);
    background-color: #666;
}
#ts2{
    text-shadow: 3px 3px yellowgreen;
}
#ts3{
    font-weight: 900;
    text-shadow: -10px -10px  red;
}

#tt1{
    text-transform: none;
}

#tt2{
    text-transform: capitalize;
}

#tt3{
    text-transform: uppercase;
}

#tt4{
    text-transform: lowercase;
}

.lh1{
    font-size: 1em;
    line-height: 1em;
    text-align: left;
}

.lh2{
    font-size: 1em;
    line-height: 2em;
    text-align: right;
}

.lh3{
    font-size: 1em;
    line-height: 0.3em;
    text-align: center;
}

.lh4{
    font-size: 1em;
    line-height: 4em;
    text-align: justify;
}

table{
    caption-side: bottom;
    border-collapse: collapse;
}
tr, td, th{
    border: 1px dotted;
    padding: 10px;
    text-align: center;
}