
#box1{
    border: 2px solid red;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
#box2{
    border: 2px solid red;
    width: 50%;
    height: 200px;
}

.display{
    border: 2px solid black;
    width: 150px;
    height: 50px;
}
.display-inline{
    display: inline;
}
.display-inline-block{
    display: inline-block;
}
.area1{
    background-color: red;
    margin:20px;
    padding: 20px;
}
.area2{
    background-color: orange;
}

.border{
    width: 100px;
    height: 100px;
}

.b1{
    border-style: none;
}
.b2{
    border-style: hidden;
}
.b3{
    border-style: dotted;
    border-top-color: hotpink;
    
    border-width: 20px 5px 2px 1px;
}
.b4{
    border-style: dashed;
    border-color: rgb(90, 101, 255);
    border-top-left-radius: 20px;
    border-width: 10px 5px;
}
.b5{
    border-style: double;
    border-width: 20px;
    border-radius: 20px;
}
.b6{
    border-style: groove;
    border-width: 10px;
    border-top-color: blueviolet;
    border-left-color: olivedrab;
    border-bottom-color: darkkhaki;
    border-right-color: salmon;
    border-width: 20px 5px 2px 1px
   
}
.b7{
    border-style: inset;
    border-top-color: blueviolet;
    border-left-color: olivedrab;
    border-bottom-color: darkkhaki;
    border-right-color: salmon;
    

}
.b8{
    border-style: outset;
    border-top-color: blueviolet;
    border-left-color: olivedrab;
    border-bottom-color: darkkhaki;
    border-right-color: salmon;
}
.b9{
    border-style: ridge;
    border-top-color: blueviolet;
    border-left-color: olivedrab;
    border-bottom-color: darkkhaki;
    border-right-color: salmon;
}
.b10{
    border-style: solid;
}

.space{
    width: 100px;
    height: 100px;
    background-color: rgb(223, 143, 169);
    border: 2pt dotted rgb(85, 185, 152);
}

.margin1{
    margin: 50px;
}
.margin2{
    margin: 50px 100px;
}
.margin3{
    margin: 30px 50px 80px 100px;
        /*
        그림자
         수평거리 수직거리 흐림정도 번짐정도 색상 inset
    */
    box-shadow: -5px -5px 30px 5px gray;
}

.padding1{
    padding: 30px;
}

.padding2{
    padding-top: 80px;
    padding-right: 100px;
}

.padding3{
    padding: 10px 50px;
    margin: 0px auto;
}